
header {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: turquoise;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.scroll-link {
  margin: 20px;
  color: black;
  font-weight: bold;
}