
header {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: turquoise;
  display: flex;
  justify-content: center;
  
  
  z-index: 1000;
}

.header-container {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.scroll-link {
  margin: 20px;
  color: black;
  font-weight: bold;
}
.scroll-link:hover {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .scroll-link {
    font-size: 13px;
    margin: 8px;
  }
}