#projects-screen {
  width: 100%;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.project {
  background-color: white;
  margin: 0 20px 40px 20px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
  border: solid 3px black;
  border-radius: 30px;
  box-shadow: 2px 2px 5px rgba(black, 1),
    2px 2px 17px rgba(black, .35),
    2px 2px 25px rgba(black, .5);

  h3 {
    font-size: 1.3em;
    margin: 1em;
    text-align: center;
  }

  .project-image {
    width: 375px;
    height: 230px;
    border: 2px solid black;
    border-radius: 15px;
  }

  .links {
    margin: 1.5em;

    a {
      margin: 0 1em;
      color: black;
      font-weight: bold;
    }
  }

  .project-description {
    margin: 0 1.8em;
  }
}

@media screen and (max-width: 600px) {
  .projects-container {
    width: 90%;
  }
  
  .project {
    width: 295px;

    h3 {
      font-size: 20px;
      margin: 22px;
    }
    .project-image {
      width: 238px;
      height: 155px;
    }
    .links {
      margin: 21px;
    }
    a {
      font-size: 15px;
    }
    .project-description {
      font-size: 14px;
      margin-bottom: 21px;
    }
  }
}