@import '../components/nav.scss';
@import '../components/hero.scss';
@import '../components/about.scss';
@import '../components/skills.scss';
@import '../components/contact.scss';
@import '../components/footer.scss';
@import '../components/textAnimation.scss';
@import '../components/projects.scss';

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  width: 100%;
  display: flex;
  background-color: turquoise;
  overflow-x: hidden;
}

#root {
  margin: 0;
  width: 100%;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 5%;
}

section {
  padding: 7% 5%;
  overflow-x: hidden;
}

@media screen and (max-width: 600px) {
  section {
    padding: 14% 5%;
  }

  h1 {
    font-size: 29px;
    margin-top: 0;
    margin-bottom: 8%;
  }
}